/**
 * {{&summary}}
 * @method
 * @name {{&className}}#{{&methodName}}
{{#parameters}}
{{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
 *
 */

{{&methodName}}(parameters = {}){

    let uri = '{{&domain}}{{&path}}';
    let body;
    const queryParameters = {};
    const headers = {};
    const form = {};

    {{#headers}}
        headers["{{&name}}"] = [{{&value}}];
    {{/headers}}

    {{#parameters}}

        {{#isQueryParameter}}
            {{#isSingleton}}
                queryParameters["{{&name}}"] = "{{&singleton}}";
            {{/isSingleton}}
            {{^isSingleton}}
                {{#isPatternType}}
                    Object.keys(parameters).forEach(function(parameterName) {
                        if(new RegExp("{{&pattern}}").test(parameterName)){
                            queryParameters[parameterName] = parameters[parameterName];
                        }
                    });
                {{/isPatternType}}
                {{^isPatternType}}
                if(parameters["{{&camelCaseName}}"] !== undefined){
                    queryParameters["{{&name}}"] = parameters["{{&camelCaseName}}"];
                }
                {{/isPatternType}}
            {{/isSingleton}}
        {{/isQueryParameter}}

        {{#isPathParameter}}
            uri = uri.replace("{{=<% %>=}}{<%&name%>}<%={{ }}=%>", parameters["{{&camelCaseName}}"]);
        {{/isPathParameter}}

        {{#isHeaderParameter}}
            {{#isSingleton}}
                headers["{{&name}}"] = "{{&singleton}}";
            {{/isSingleton}}
            {{^isSingleton}}
                if(parameters["{{&camelCaseName}}"] !== undefined){
                    headers["{{&name}}"] = parameters["{{&camelCaseName}}"];
                }
            {{/isSingleton}}
        {{/isHeaderParameter}}

        {{#isBodyParameter}}
            if(parameters["{{&camelCaseName}}"] !== undefined){
                body = parameters["{{&camelCaseName}}"];
            }
        {{/isBodyParameter}}

         {{#isFormParameter}}
            {{#isSingleton}}
                form["{{&name}}"] = "{{&singleton}}";
            {{/isSingleton}}
            {{^isSingleton}}
                if(parameters["{{&camelCaseName}}"] !== undefined){
                    form["{{&name}}"] = parameters["{{&camelCaseName}}"];
                }
            {{/isSingleton}}
        {{/isFormParameter}}

        {{#required}}
        if(parameters["{{&camelCaseName}}"] === undefined){
            return Promise.reject(new Error("Missing required {{&paramType}} parameter: {{&camelCaseName}}"));
        }
        {{/required}}

    {{/parameters}}

    if(parameters.$queryParameters) {
        Object.keys(parameters.$queryParameters).forEach(function(parameterName){
            const parameter = parameters.$queryParameters[parameterName];
            queryParameters[parameterName] = parameter;
        });
    }
    if(parameters.$headers) {
        Object.keys(parameters.$headers).forEach(function(headerName){
            const header = parameters.$headers[headerName];
            headers[headerName] = header;
        });
    }

    const requestOptions = {
        method: "{{method}}",
        uri,
        qs: queryParameters,
        headers,
        body,
        json: true
    };

    if(Object.keys(form).length > 0) {
        requestOptions.form = form;
    }

    return this._sendRequest(requestOptions);
 }